html {
    background: #DB87F5;
    background-image: linear-gradient(250deg, rgb(100, 233, 233) 0%, rgb(216, 221, 221) 100%);
}

body {
    background: #BFE9EE;
    box-shadow: 0 0 6px rgba(0, 0, 100, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 860px;
    padding: 2em 2em 4em;
}

h1{
    color: red;
    text-align: center;
    background-color: #F58787;
    font-weight: 600;
    line-height: 1.8;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    color: blue;
    text-align: center;
    background-color: #B6BFFC;
    font-weight: 560;
    line-height: 1.5;
    margin-top: 1.3em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
    color: green;
    text-align: center;
    background-color: #B6FCBF;
    font-weight: 520;
    line-height: 1.4;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    display: 200,200;
    margin: auto;
    image-orientation: center;
    max-width: 40%;
}

