h1{
    text-align: center;
    color: crimson;
    font-weight: 600;
    line-height: 1.3;
}

h2{
    text-align: center;
    color: firebrick;
    font-weight: 600;
    line-height: 1.3;
}

part{
    color: skyblue;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

#div1 {
    width: 120px;
    height: 120px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    z-index: 5;
}

#div2 {
    padding-left: 120px;
    width: 120px;
    height: 120px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    z-index: 5;
}

#drag{
    position:relative;
    z-index:6;
}

#clickon{
    position: relative;
    z-index: 7;
    
}

#set{
    position: relative;
    z-index: 8;
}

#content{
    position:relative;
    z-index:5;
}

#bg-text
{
    z-index:0;
    text-align: center;
    color:lightcoral;
    font-size:240px;
    transform:rotate(25deg);
    -webkit-transform:rotate(25deg);
}

#background{
    
    position:fixed;
    z-index:0;
    background:transparent;
    display:contents;
    min-height:100%; 
    min-width:100%;
    color:black;
}